.carousel-container{
    display: flex;
    justify-content: center;
    background-color: #212121;
}
.carousel{
    width: 60%;
}
.carousel-img{
    width: 100%;
    height: auto;
}

@media(max-width: 400px){
    .carousel{
        width: 100%;
    }
}