.carousel-container{
    display: flex;
    justify-content: center;
    background-color: #212121;
}
.carousel{
    width: 60%;
}
.sauce{
    width: 100%;
    height: auto;
}
.map{
    width: 500px;
    height: 350px;
    border: none;
}

@media(max-width: 400px){
    .carousel{
        width: 100%;
    }
}