html,body{
    max-width: 100%;
    max-width: 100%;
}

.background{
    background-image: url("../../assets/stars.jpg") ;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    filter: blur(1px);
}
