.nav-link {
  font-family: "Fjalla One", sans-serif;
  font-size: 17px;
  color: black !important;
  text-decoration: none !important;
  &:hover {
    color: blue !important;
  }
}

.logo {
  width: 120px;
  height: auto;
}
