.nav-link {
  font-size: 17px;
  color: black !important;
  text-decoration: none !important;
  &:hover {
    color: #ffc53d !important;
    transition: 0.5s;
  }
}

.logo {
  width: 120px;
  height: auto;
}
