html,
body {
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.homepage {
  min-width: 100vh;
  min-height: 100vh;
  background: url("./assets/stars.jpg") no-repeat;
  background-size: cover;
}
